.section-1 {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-img {
    margin-top: 2vh;
    text-align: center;
}

.vg {
    border-radius: 30px;
    max-height: 260px;
    height: auto;
    width: auto;
    padding: 10px;
}

.quote {
    color: rgba(245, 245, 245, 0.788);
    margin-top: 3vh;
    font-size: 20px;
    padding: 15px;
}